<!DOCTYPE html>
<html>
<head>
  <title>Everpresent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>

			<% flash.each do |type, message| %>
			<%= js add_gritter(flash[:notice], :image => :success, :fade_in_speed => "slow", :time => 4000,) %>
		<% end %>

	<div class="container">

		<%= yield %>

	</div>
</body>
</html>
